.navbar {
	@apply w-full 
  flex 
  items-center 
  justify-between;
}

.navbar__social-media {
	@apply flex 
  w-1/2 
  justify-end 
  content-center;
}

.navbar__social-media > a {
	@apply inline-block 
  text-blue-300 
  no-underline 
  hover:text-pink-500 
  text-center 
  h-10 
  p-2 
  md:h-auto 
  md:p-4 
  transform 
  hover:scale-125 
  duration-300 
  ease-in-out;
}
